@charset "UTF-8";
/* Définition de la police SchibstedGrotesk-Black */
@font-face {
  font-family: "SchibstedGrotesk-Black";
  src: url("/fonts/SchibstedGrotesk-Black.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-BlackItalic */
@font-face {
  font-family: "SchibstedGrotesk-BlackItalic";
  src: url("/fonts/SchibstedGrotesk-BlackItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Bold */
@font-face {
  font-family: "SchibstedGrotesk-Bold";
  src: url("/fonts/SchibstedGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-BoldItalic */
@font-face {
  font-family: "SchibstedGrotesk-BoldItalic";
  src: url("/fonts/SchibstedGrotesk-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-ExtraBold */
@font-face {
  font-family: "SchibstedGrotesk-ExtraBold";
  src: url("/fonts/SchibstedGrotesk-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-ExtraBoldItalic */
@font-face {
  font-family: "SchibstedGrotesk-ExtraBoldItalic";
  src: url("/fonts/SchibstedGrotesk-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Italic */
@font-face {
  font-family: "SchibstedGrotesk-Italic";
  src: url("/fonts/SchibstedGrotesk-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Medium */
@font-face {
  font-family: "SchibstedGrotesk-Medium";
  src: url("/fonts/SchibstedGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-MediumItalic */
@font-face {
  font-family: "SchibstedGrotesk-MediumItalic";
  src: url("/fonts/SchibstedGrotesk-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Regular */
@font-face {
  font-family: "SchibstedGrotesk-Regular";
  src: url("/fonts/SchibstedGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-SemiBold */
@font-face {
  font-family: "SchibstedGrotesk-SemiBold";
  src: url("/fonts/SchibstedGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-SemiBoldItalic */
@font-face {
  font-family: "SchibstedGrotesk-SemiBoldItalic";
  src: url("/fonts/SchibstedGrotesk-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
body {
  background-color: #fbead1;
  height: 100vh;
  margin: 3vw 4vw 0 4vw;
  box-sizing: border-box;
}
body h1, body h2, body p {
  color: #1B1A17;
  font-family: SchibstedGrotesk-Regular;
}
body h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
body main {
  height: 90vh;
}
body a {
  color: #1B1A17;
  font-family: SchibstedGrotesk-Regular;
  text-decoration: none;
}

@media only screen and (min-width: 991px) {
  body {
    margin: 2vw 2vw 0 2vw;
    cursor: none;
  }
  .custom-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    border: 2px solid #1B1A17;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-120%, -120%);
    z-index: 9999;
    mix-blend-mode: color-burn;
    background-color: #1B1A17;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #1B1A17;
  font-size: 1.8rem;
  font-family: SchibstedGrotesk-Medium;
}
header nav {
  width: 50vw;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header nav ul li {
  margin-left: 2vw;
}
header nav ul li a {
  text-decoration: none;
  color: #1B1A17;
  font-family: SchibstedGrotesk-Regular;
}
header .toggleIcon {
  width: 33px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  header nav {
    position: absolute;
    top: 25%;
    height: 50vh;
    left: 0;
    width: 100%;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
  }
  header nav ul li {
    margin-bottom: 10vh;
  }
  header nav ul li a {
    font-size: 2rem;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 991px) {
  header nav {
    display: block;
    width: 50vw;
  }
  header nav ul {
    justify-content: flex-end;
  }
  header nav ul li {
    margin-left: 2vw;
  }
  header nav ul li a {
    font-size: 1.5rem;
    display: inline-block;
    transition-property: transform;
    transition: 0.25s ease;
  }
  header nav ul li a:after {
    position: absolute;
    content: "";
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.25s linear;
    width: 100%;
    border-top: 2px solid #1B1A17;
  }
  header nav ul li a:hover {
    transform: scale(1);
  }
  header nav ul li a:hover:after {
    transform: rotate(0deg);
  }
  header .logo {
    font-size: 3.5rem;
  }
  header .toggleIcon {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer p {
  text-align: center;
  margin: 0 0 1em 0;
}
footer .footer-links ul li a {
  font-size: 0.8rem;
}
footer .footer-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}
footer .footer-container ul li a {
  text-transform: uppercase;
  text-decoration: underline;
}
footer .footer-container ul li:not(:last-child) {
  margin-bottom: 0.5em;
}
footer .footer-container .fa {
  font-size: 2em;
}
footer .footer-container .footer-rs {
  display: flex;
  justify-content: center;
}
footer .footer-container .footer-rs a:not(:last-child) {
  margin-right: 8vw;
}

@media only screen and (min-width: 991px) {
  footer p {
    margin-top: 1em;
  }
  footer ul li a {
    transition: all 0.2s ease-in-out;
  }
  footer ul li a:hover {
    color: #1B1A17;
  }
  footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer-container .footer-rs {
    margin-right: 2em;
  }
  footer .footer-container .footer-rs a:not(:last-child) {
    margin-right: 1vw;
  }
  footer .footer-container .footer-rs .fa {
    font-size: 2.2em;
    transition: all 0.3s ease-in-out;
  }
  footer .footer-container .footer-rs .fa:hover {
    transform: scale(1.3, 1.3);
  }
}
#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbead1;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loader-wrapper #loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #1B1A17;
  border-top-color: #fbead1;
  animation: loader-rotate 1s infinite;
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heroPres {
  position: relative;
  top: 5vh;
}

/*# sourceMappingURL=style.css.map */
