@charset "UTF-8";
/* Définition de la police SchibstedGrotesk-Black */
@font-face {
  font-family: "SchibstedGrotesk-Black";
  src: url("/fonts/SchibstedGrotesk-Black.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-BlackItalic */
@font-face {
  font-family: "SchibstedGrotesk-BlackItalic";
  src: url("/fonts/SchibstedGrotesk-BlackItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Bold */
@font-face {
  font-family: "SchibstedGrotesk-Bold";
  src: url("/fonts/SchibstedGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-BoldItalic */
@font-face {
  font-family: "SchibstedGrotesk-BoldItalic";
  src: url("/fonts/SchibstedGrotesk-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-ExtraBold */
@font-face {
  font-family: "SchibstedGrotesk-ExtraBold";
  src: url("/fonts/SchibstedGrotesk-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-ExtraBoldItalic */
@font-face {
  font-family: "SchibstedGrotesk-ExtraBoldItalic";
  src: url("/fonts/SchibstedGrotesk-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Italic */
@font-face {
  font-family: "SchibstedGrotesk-Italic";
  src: url("/fonts/SchibstedGrotesk-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Medium */
@font-face {
  font-family: "SchibstedGrotesk-Medium";
  src: url("/fonts/SchibstedGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-MediumItalic */
@font-face {
  font-family: "SchibstedGrotesk-MediumItalic";
  src: url("/fonts/SchibstedGrotesk-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
/* Définition de la police SchibstedGrotesk-Regular */
@font-face {
  font-family: "SchibstedGrotesk-Regular";
  src: url("/fonts/SchibstedGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-SemiBold */
@font-face {
  font-family: "SchibstedGrotesk-SemiBold";
  src: url("/fonts/SchibstedGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/* Définition de la police SchibstedGrotesk-SemiBoldItalic */
@font-face {
  font-family: "SchibstedGrotesk-SemiBoldItalic";
  src: url("/fonts/SchibstedGrotesk-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbead1;
  margin: 3vw 4vw 0 4vw;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
body h1, body h2, body h3, body p {
  color: #1B1A17;
  font-family: SchibstedGrotesk-Regular;
  margin: 0;
}
body h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
body main {
  padding-bottom: 10em;
}
body main .return {
  width: 2rem;
  display: block;
  position: relative;
  top: 2em;
}
body a {
  color: #1B1A17;
  font-family: SchibstedGrotesk-Regular;
  text-decoration: none;
}

.main-buton {
  color: #fbead1;
  background-color: #1B1A17;
  width: 15vw;
  min-width: 200px;
  height: 8vh;
  min-height: 40px;
  border: none;
  margin-top: 1em;
  font-family: SchibstedGrotesk-Regular;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main-buton:hover {
  color: #1B1A17;
  background-color: #d6470e;
}

@media only screen and (min-width: 991px) {
  body {
    margin: 2vw 2vw 0 2vw;
    cursor: none;
  }
  body h1 {
    font-size: 7rem;
    position: relative;
  }
  body h1 span {
    position: relative;
    display: inline-block;
    transition: all 0.3s;
  }
  body h1 span::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #d6470e;
    z-index: -1;
    transform-origin: bottom left;
    transition: width 0.3s ease-out;
  }
  body h1:hover span::before {
    width: 101%;
    transform-origin: bottom right;
  }
  .custom-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    border: 2px solid #d6470e;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-120%, -120%);
    z-index: 9999;
    mix-blend-mode: darken;
    background-color: #d6470e;
  }
  .custom-cursor-hover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 125px;
    height: 50px;
    border: 3px solid #d6470e;
    border-radius: 50%;
    background-color: #fbead1;
    text-align: center;
    font-size: 1em;
    line-height: 26px;
    color: #1B1A17;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  .custom-cursor-hover:before {
    content: "Détail";
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: SchibstedGrotesk-Regular;
    font-weight: bold;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #1B1A17;
  font-size: 1.8rem;
  font-family: SchibstedGrotesk-Medium;
}
header nav {
  width: 50vw;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header nav ul li {
  margin-left: 2vw;
}
header nav ul li a {
  text-decoration: none;
  color: #1B1A17;
  font-family: SchibstedGrotesk-Regular;
}
header .toggleIcon {
  width: 33px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  header nav {
    position: absolute;
    top: 15vh;
    height: 50vh;
    left: 0;
    width: 100%;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
  }
  header nav ul li {
    margin-bottom: 10vh;
  }
  header nav ul li a {
    font-size: 2rem;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 991px) {
  header nav {
    display: block;
    width: 50vw;
  }
  header nav ul {
    justify-content: flex-end;
  }
  header nav ul li {
    margin-left: 2vw;
  }
  header nav ul li a {
    font-size: 1.5rem;
    display: inline-block;
    transition-property: transform;
    transition: 0.25s ease;
  }
  header nav ul li a:after {
    position: absolute;
    content: "";
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.25s linear;
    width: 100%;
    border-top: 2px solid #1B1A17;
  }
  header nav ul li a:hover {
    transform: scale(1);
  }
  header nav ul li a:hover:after {
    transform: rotate(0deg);
  }
  header .logo {
    font-size: 3.5rem;
  }
  header .toggleIcon {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer p {
  text-align: center;
  margin: 0 0 1em 0;
}
footer .footer-links ul li a {
  font-size: 0.8rem;
}
footer .footer-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}
footer .footer-container ul li a {
  text-transform: uppercase;
  text-decoration: underline;
}
footer .footer-container ul li:not(:last-child) {
  margin-bottom: 0.5em;
}
footer .footer-container .fa-brands {
  font-size: 2em;
}
footer .footer-container .footer-rs {
  display: flex;
  justify-content: center;
}
footer .footer-container .footer-rs a:not(:last-child) {
  margin-right: 8vw;
}

@media only screen and (min-width: 991px) {
  footer p {
    margin-top: 1em;
  }
  footer ul li a {
    transition: all 0.2s ease-in-out;
  }
  footer ul li a:hover {
    color: #d6470e;
  }
  footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer-container .footer-rs {
    margin-right: 2em;
  }
  footer .footer-container .footer-rs a:not(:last-child) {
    margin-right: 1vw;
  }
  footer .footer-container .footer-rs .fa-brands {
    font-size: 2.2em;
    transition: all 0.3s ease-in-out;
  }
  footer .footer-container .footer-rs .fa-brands:hover {
    transform: scale(1.3, 1.3);
  }
}
#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbead1;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loader-wrapper #loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #1B1A17;
  border-top-color: #fbead1;
  animation: loader-rotate 1s infinite;
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.m-backtotop {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 3.5em;
  height: 3.5em;
  z-index: 999;
  background: #fbead1;
  border-radius: 25px;
  text-align: center;
  border: 2px solid #d6470e;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  color: #d6470e;
}
.m-backtotop.active {
  bottom: 15px;
  opacity: 1;
}
.m-backtotop > div {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.m-backtotop > div.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}
.m-backtotop > div.text {
  font-size: 5px;
  font-size: 0.5rem;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: SchibstedGrotesk-Regular;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
  margin-top: 1px;
}
.m-backtotop:hover {
  transform: scale(1.1);
  bottom: 20px;
  cursor: pointer;
  background: #fbead1;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.m-backtotop:hover > div.arrow {
  transform: translateY(-150%) translateX(-50%);
  opacity: 0;
}
.m-backtotop:hover > div.text {
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

#mainIndex {
  padding-bottom: 37em;
}

.heroPres {
  position: relative;
  top: 5vh;
  max-width: 1285px;
}
.heroPres h1, .heroPres h2, .heroPres h3 {
  margin: 10px 0 0 0;
}
.heroPres h3 {
  margin-bottom: 2em;
}

.h2 {
  position: relative;
  font-size: 3.5rem;
}

.my-work {
  top: 5vh;
}

.aboutme {
  top: 20vh;
}

.work {
  position: relative;
  top: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work hr {
  width: 90%;
  background-color: #8a5742;
  border: 1px solid #8a5742;
  margin: 2em 0 2em 0;
}
.work .work-card h2 {
  position: relative;
  width: fit-content;
  margin-bottom: 1em;
}
.work .work-card #img-ch {
  background-image: url(/img/png/chub.png);
}
.work .work-card #img-poke {
  background-image: url(/img/jpg/poke.jpg);
}
.work .work-card #img-manga {
  background-image: url(/img/png/mangamain.png);
}
.work .work-card #img-datav {
  background-image: url(/img/jpg/datavisu.jpg);
}
.work .work-card .img {
  width: 90vw;
  height: 17vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work .work-card .img .details {
  color: #fbead1;
  background-color: #1B1A17;
  width: 20%;
  height: 20%;
  border: none;
  font-family: SchibstedGrotesk-Regular;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.work .work-card .img:hover {
  background-size: 107%;
  cursor: pointer;
}
.work .work-card .img:hover .details {
  opacity: 1;
}
.work .work-card .img:hover .custom-cursor {
  display: none;
}

.mb-1 {
  margin-bottom: 2em;
}

.aboutme {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.aboutme .resumeme {
  width: 40%;
  position: relative;
  top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutme .resumeme img {
  width: 50%;
  border-radius: 10%;
  margin-bottom: 2em;
}
.aboutme .skills {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.aboutme .skills h3 {
  height: 50%;
  border-bottom: 2px solid #1B1A17;
}
.aboutme .skills p {
  height: fit-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #d6470e;
}

.scroll {
  position: absolute;
  left: 0;
  bottom: 4em;
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  transition: all 1s;
}
.scroll:hover h2 {
  color: #d6470e;
}
.scroll:hover i {
  color: #d6470e;
}
.scroll h2 {
  font-weight: normal;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s;
  animation: scroll 10s linear infinite;
}
.scroll h2 i {
  color: #1B1A17;
  font-weight: 400;
  margin: 0 1em 0 1em;
  transition: all 0.3s;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@media only screen and (min-width: 991px) {
  .work .work-card {
    margin-left: 1em;
  }
  .work .work-card .img {
    width: 45vw;
    height: 40vh;
  }
  .work .work-card .img:hover .custom-cursor {
    display: none;
  }
}
@media (max-width: 1300px) {
  #mainIndex {
    padding-bottom: 29em;
  }
}
@media (max-width: 768px) {
  .scroll {
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  hr {
    display: none;
  }
  .img {
    margin-bottom: 1em;
  }
  .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutme .resumeme {
    width: 100%;
    position: relative;
    top: 2vh;
  }
  .aboutme .skills {
    position: relative;
    top: 5vh;
    width: 100%;
  }
}
.work-section {
  position: relative;
  top: 5vh;
}
.work-section h3 {
  margin-top: 1em;
}
.work-section a {
  transition: all 0.3s;
  width: fit-content;
  display: block;
}
.work-section a:hover {
  transform: scale(0.9, 0.9);
}
.work-section a span {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  margin: 2em 0 1em 0;
  color: #1B1A17;
  width: fit-content;
}
.work-section a span .turn45 {
  transform: rotate(45deg);
}
.work-section a span p {
  font-weight: bold;
  margin-right: 0.5em;
  text-transform: uppercase;
}
.work-section .work-img {
  margin-top: 1em;
  width: 95vw;
  height: 86vh;
  background-image: url(/img/png/chub.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.work-section #main-img-poke {
  background-image: url(/img/png/mangamain.png);
}
.work-section #main-img-manga {
  background-image: url(/img/jpg/poke.jpg);
}
.work-section .work-infos {
  margin-top: 1em;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.work-section .work-infos .line-up {
  border-top: 1px solid #1B1A17;
  height: 100%;
  padding-top: 0.5em;
  margin-bottom: 1em;
}
.work-section .work-infos .pl-1 {
  padding-left: 1em;
}
.work-section .work-infos #work-1-1 {
  display: none;
}
.work-section .work-infos #work-1-2 {
  display: none;
}

.img-works {
  margin-top: 5em;
  width: 100%;
}
.img-works .imgw {
  width: 95vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.img-works #img1 {
  background-image: url(/img/png/chub.png);
}
.img-works #img2 {
  background-image: url(/img/png/chub.png);
}
.img-works #img3 {
  background-image: url(/img/png/chub.png);
}
.img-works #img1-poke {
  background-image: url(/img/png/poked.png);
}
.img-works #img2-poke {
  background-image: url(/img/png/poked.png);
}

@media only screen and (min-width: 991px) {
  .work-section .work-infos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  .work-section .work-infos #work-1-1 {
    grid-row: 1;
    grid-column: 1;
    display: block;
    text-transform: uppercase;
    font-size: 3em;
    border-left: none;
  }
  .work-section .work-infos #work-1-2 {
    grid-row: 2;
    grid-column: 1;
    display: block;
    border-top: 1px solid #1B1A17;
    height: 100%;
  }
  .work-section .work-infos #work-2-2 {
    grid-row: 2;
    grid-column: 2;
  }
  .work-section .work-infos #work-2-3 {
    grid-row: 2;
    grid-column: 3;
  }
  .work-section .work-infos #work-3-2 {
    grid-row: 3;
    grid-column: 2;
  }
  .work-section .work-infos #work-3-3 {
    grid-row: 3;
    grid-column: 3;
  }
  .work-section .work-infos #work-4-2 {
    grid-row: 4;
    grid-column: 2;
  }
  .work-section .work-infos #work-4-3 {
    grid-row: 4;
    grid-column: 3;
  }
  .work-section .work-infos #work-5-2 {
    grid-row: 5;
    grid-column: 2;
  }
  .work-section .work-infos #work-5-3 {
    grid-row: 5;
    grid-column: 3;
  }
  .work-section .work-infos #work-6-2 {
    grid-row: 6;
    grid-column: 2;
  }
  .work-section .work-infos #work-6-3 {
    grid-row: 6;
    grid-column: 3;
  }
  .work-section .work-infos #work-7-2 {
    grid-row: 7;
    grid-column: 2;
  }
  .work-section .work-infos #work-7-3 {
    grid-row: 7;
    grid-column: 3;
  }
}
@media (max-width: 768px) {
  .work-img {
    display: none;
  }
  .info-line {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
