header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        color: $font-color-main;
        font-size: 2rem;
        font-family: SchibstedGrotesk-Medium;
    }
        nav{
            width: 50vw;
            ul{
                @include list-style-header-footer-ul;
                justify-content: flex-end;
                li{
                    margin-left: 2vw;
                    a{
                        @include list-style-header-footer-a;
                    }
                }
            }
        }
        ////////////////////////////////////////////////
        .toggleIcon{
            width: 33px;
            cursor: pointer;
        }
        //////////////////////////////////////////////////////////////////////////////////
        @media only screen and (max-width: 991px) {
            nav{
                position: absolute;
                top: 25%;
                height: 50vh;
                left: 0;
                width: 100%;
                display: none;
                ul{
                    flex-direction: column;
                    align-items: center;
                    padding-inline-start: 0;
                    li{
                        margin-bottom: 10vh;
                        a{
                            font-size: 2rem;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
// //////////////////////////////////////////////////////////////////////////////////////////////
        @media only screen and (min-width: 991px) {
            nav{
                display: block;
                width: 50vw;
            ul{
                justify-content: flex-end;
                li{
                    margin-left: 2vw;
                    a{
                        font-size: 1.5rem;
                        display:inline-block;
                        transition-property: transform;
                        transition: 0.25s ease;

                        &:after{
                        position: absolute;
                        content: '';
                        display: block;
                        transform: rotateY(90deg);
                        transition:transform 0.25s linear;
                        width: 100%;
                        border-top: 2px solid $font-color-main;
                        }

                        &:hover{
                            transform: scale(1);
                        }
                        &:hover:after{
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            }
            .logo{
                font-size: 4rem;
            }
            .toggleIcon{
                display: none;
            }
        }
        /////////////////////////////////////////////////////////////////////////////////////////
}