header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        color: $font-color-main;
        font-size: 10rem;
        font-family: SchibstedGrotesk-Medium;
    }
    nav{
        width: 28vw;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            li{
                a{
                    text-decoration: none;
                    font-size: 5rem;
                    color: $font-color-main;
                    font-family: SchibstedGrotesk-Regular;
                }
            }
        }
    }
}