html{
    scroll-behavior: smooth;
}
body{
    background-color: $background-color;
    margin: 3vw 4vw 0 4vw;
    height: 500vh;
    box-sizing: border-box;
    position: relative;
    h1, h2, h3, p{
        color: $font-color-main;
        font-family: $main-font;
        margin: 0;
    }
    h1{
        text-transform: uppercase;
        font-size: 3rem;
    }
    main{
        height: 90vh;//test
        .return{
            width: 2rem;
            display: block;
            position: relative;
            top: 2em;
        }
    }
    a{
        color: $font-color-main;
        font-family: $main-font;
        text-decoration: none;
    }
}

@media only screen and (min-width: 991px) {
    body{
        margin: 2vw 2vw 0 2vw;
        cursor: none;
        h1 {
            font-size: 7rem;
            position: relative;
          
            span {
              position: relative;
              display: inline-block;
              transition: all .3s;
          
              &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: $font-color-secondaire;
                z-index: -1;
                transform-origin: bottom left;
                transition: width .3s ease-out;
              }
            }
          
            &:hover {
              span::before {
                width: 101%;
                transform-origin: bottom right;
              }
            }
          }
          
    }
    .custom-cursor {
        position: fixed;
        width: 32px;
        height: 32px;
        border: 2px solid $font-color-secondaire;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-120%, -120%);
        z-index: 9999;
        mix-blend-mode: darken;
        background-color: $font-color-secondaire;
      }
      .custom-cursor-hover {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 125px;
        height: 50px;
        border: 3px solid $font-color-secondaire;
        border-radius: 50%;
        background-color: $background-color;
        text-align: center;
        font-size: 1em;
        line-height: 30px - 4px;
        color: $font-color-main;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        &:before {
          content: "Détail";
          position: absolute;
          top: 50%;
          left: 50%;
          font-family: $main-font;
          font-weight: bold;
          text-transform: uppercase;
          transform: translate(-50%, -50%);
        }
    }
}
