body{
    background-color: $background-color;
    height: 100vh;
    margin: 3vw 4vw 0 4vw;
    box-sizing: border-box;
    h1, h2, p{
        color: $font-color-main;
        font-family: SchibstedGrotesk-Regular;
        text-transform: uppercase;
        font-size: 3rem;
    }
}

@media only screen and (min-width: 991px) {
    body{
        margin: 2vw 2vw 0 2vw;
        cursor: none;
    }
    .custom-cursor {
        position: fixed;
        width: 32px;
        height: 32px;
        border: 2px solid $font-color-main;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-120%, -120%);
        z-index: 9999;
        mix-blend-mode: difference;
        background-color: $font-color-main;
      }
}